@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
    background-color: #1289A7;
}

h1{
    color:white;
    font-family: 'Montserrat', sans-serif;
    font-size: 100px;
    margin: 330px 800px;
}

